<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyterm</title>
  <link rel="stylesheet" href="../css/output.css">
      <style>
      body {
        font-family: "Noto Sans", sans-serif !important;
        font-style: normal;
        background-color: #1d1d1d;
        color: #ffffff;
      }
    </style>
</head>
<body>

    <header>
      <nav
        class="fixed top-0 z-50 bg-primary-base w-full py-6 px-4 flex justify-center space-x-12 text-sm md:text-base font-medium border-b border-gray-800"
      >
        <div
          class="container mx-auto flex justify-center items-center space-x-12"
        >
          <a href="/index.html" class="hover:text-orange-500 transition-colors"
            >Home</a
          >
          <a href="#" class="hover:text-orange-500 transition-colors">About</a>
          <a
            href="Contactus.html"
            class="hover:text-orange-500 transition-colors"
            >Contact</a
          >
          <a href="privacy.html" class="text-orange-500 transition-colors"
            >Privacy</a
          >
        </div>
      </nav>
    </header>

  <div class="flex pt-20 px-4 md:px-10">

 
    <aside class="w-64 space-y-3 text-sm text-gray-300 pr-6 border-r border-gray-800 hidden md:block">
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-white">Introduction</a></li>
        <li><a href="#" class="hover:text-white">Information Google collects data</a></li>
        <li><a href="#" class="hover:text-white">Why Google collects data</a></li>
        <li><a href="#" class="hover:text-white">Your privacy controls</a></li>
        <li><a href="#" class="hover:text-white">Sharing your information</a></li>
        <li><a href="#" class="hover:text-white">Keeping your information secure</a></li>
        <li><a href="#" class="hover:text-white">Exporting & deleting your information</a></li>
        <li><a href="#" class="hover:text-white">Retaining your information</a></li>
        <li><a href="#" class="hover:text-white">Compliance & cooperation with regulators</a></li>
        <li><a href="#" class="hover:text-white">About this policy</a></li>
        <li><a href="#" class="hover:text-white">Related privacy practices</a></li>
        <li><a href="data.html" class="hover:text-white">Data transfer frameworks</a></li>
        <li><a href="#" class="text-yellow-400">Key terms</a></li>
        <li><a href="Partner.html" class="hover:text-white">Partners</a></li>
        <li><a href="update.html" class="hover:text-white">Updates</a></li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main class="max-w-4xl mx-auto space-y-6 text-gray-200 px-4 ">
<ul class="list-disc pl-5 text-blue-400 text-sm space-y-4">
  <li>
    <a href="#" class="hover:underline">Affiliates</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Algorithm</a>
  </li>
 <li>
    <a href="#" class="hover:underline">Application data cache</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Browser web storage</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Cookies</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Device</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Google Account</a>
  </li>
  <li>
    <a href="#" class="hover:underline">IP address</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Non-personally identifiable information</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Personal information</a>
  </li>
  <li>
    <a href="#" class="hover:underline">Pixel tag</a>
  </li>
   <li>
    <a href="#" class="hover:underline">Referrer URL</a>
  </li>
   <li>
    <a href="#" class="hover:underline">Sensitive personal information</a>
  </li>
   <li>
    <a href="#" class="hover:underline">Server logs</a>
  </li>
   <li>
    <a href="#" class="hover:underline">Unique identifiers</a>
  </li>
</ul>


      <h2 class="text-xl font-bold">Affiliates</h2>
      <p class="text-sm text-gray-400">An affiliate is an entity that belongs to the Google group of companies, including the following companies that provide consumer services in the EU: Google Ireland Limited, Google Commerce Ltd, Google Payment Corp, and Google Dialer Inc. Learn more about the<a href="#" class="text-blue-400 hover:underline"> companies providing business services in the EU.</a></p>


      <h2 class="text-lg font-semibold text-white pt-4">Application data cache </h2 >
      <p>An application data cache is a data repository on a device. It can, for example, enable a web application to run without an internet connection and improve the performance of the application by enabling faster loading of content.</p>


      <h2 class="text-lg font-semibold text-white pt-4">Browser web storage</h2>
      <p>Browser web storage enables websites to store data in a browser on a device. When used in "local storage" mode, it enables data to be stored across sessions. This makes data retrievable even after a 
        browser has been closed and reopened. One technology that facilitates web storage is HTML 5.</p>

      <h2 class="text-lg font-semibold text-white pt-4">Cookies</h2>
      <p> A cookie is a small file containing a string of characters that is sent to your computer when you visit a website. When you visit the site again, the cookie allows that site to recognize your browser. Cookies may store user preferences and other information. You can configure your browser to refuse all cookies or to indicate when a cookie is being sent. 
        However, some website features or services may not function properly without cookies. Learn more about<a href="#" class="text-blue-400 hover:underline"> how Google uses cookies</a>,and how Google uses data, including cookies, <a href="#" class="text-blue-400 hover:underline"> when you use our partners' sites or apps.</a></p>

         <h2 class="text-lg font-semibold text-white pt-4">Device</h2>
      <p>A device is a computer that can be used to access Google services. For example, desktop computers, tablets, smart speakers, and smartphones are all considered devices.</p>

         <h2 class="text-lg font-semibold text-white pt-4">Google Account</h2>
      <p>You may access some of our services by signing up for a <a href="#" class="text-blue-400">Google Account </a>and providing us with some personal information (typically your name, email address, and a password). This account information is used to authenticate you when you access Google services and protect your account from unauthorized access by others. You can edit or delete your account at any time through your Google Account settings.</p>

         <h2 class="text-lg font-semibold text-white pt-4">Sensitive personal information</h2>
        <p>This is a particular category of personal information relating to topics such as confidential medical facts,
             racial or ethnic origins, political or religious beliefs, or sexuality.</p>

        <p>A typical log entry for a search for “cars” looks like this:</p>
         <a href="" class="text-green-700">123.45.67.89 - 25/Mar/2003 10:15:32 - http://www.google.com/search?q=cars - Chrome 112; OS X 10.15.7 - 740674ce2123e969</a>


             <h2 class="text-lg font-semibold text-white pt-4">Unique identifiers</h2>
             <p>Unique identifiers can be used for various purposes, including security and fraud detection, syncing services such as your email inbox, remembering your preferences, and providing personalized advertising. For example, unique identifiers stored in cookies help sites display content in your browser in your preferred language. You can configure your browser to refuse all cookies or to indicate when a cookie is being sent. 
                Learn more about <a href="" class="text-blue-400 hover:underline">how to use google cookie</a>.</p>

                <p>On other platforms besides browsers, unique identifiers are used to recognize a specific device or app on that device. For example, a unique identifier such as the Advertising ID is used to provide relevant advertising on Android devices, and can be managed in your device’s settings. Unique identifiers may also be incorporated into a device by its manufacturer (sometimes called a universally unique ID or UUID), such as the IMEI-number of a mobile phone. For example, a device’s unique identifier can be used to customize our service to your device or analyze device issues related to our services.</p>
    </main>
  </div>

</body>
</html>
