<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="../css/output.css" />
  </head>
  <body>
    <header>
      <nav><div class="w-full h-28 bg-secondary-base">sefaewsadawdfre</div></nav>
    </header>
    <main>
      <div class="container">
        <div class="flex gap-[2%] flex-wrap content-start">
          <div class="w-1/4 h-3/4 "><div class="privcy-list">
            <ul>
                <li>Introduction</li>
                <li>Information Google collects</li>
                <li>Why Google collects data</li>
                <li>Your privacy controls</li>
                <li>Sharing your information</li>
                <li>Keeping your information secure</li>
                <li>Exporting & deleting your information</li>
                <li>Retaining your information</li>
                <li>Compliance & cooperation with regulators</li>
                <li>About this policy</li>
                <li>Related privacy practices</li>
            </ul>
          </div></div>
          <div class="grow h-3/4">Content</div>
        </div>
      </div>
    </main>
    <footer>footer</footer>
  </body>
</html>
